/* General */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Section */

#start {
    width: 100vw; /* 100% of the viewport width to make your webpage more responsive to different screen sizes*/
    height: 95vh; /* viewport height */
    background-image: url("../images/background.png");
    background-size: cover;
}

nav {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    padding: 0 200px;
    color: #404040;
}

#nav-title {
    font-size: large;
    cursor: pointer;
}

#nav-menu {
    font-size: large;
    display: flex;
    list-style: none;
}

.nav-link {
    cursor: pointer;
    margin: 0 25px;
}

#nav-login {
    font-size: large;
    cursor: pointer;
}

#intro-text p:nth-child(1) {
    color: white;
    font-size: 64px;
    margin: 0 0 50px;
}

#intro-text p:nth-child(2) {
    color: #404040;
    font-size: xx-large;
    margin: 15px 0 50px;
}

#intro-text p:nth-child(3) {
    color: #404040;
    font-size: xx-large;
    margin: 0;
}

#intro-text p:nth-child(4) {
    color: #404040;
    font-size: xx-large;
    margin: 5px 0 25px;
}

#intro-text {
    position: absolute;
    left: 14%;
    top: 19%;
}

/* Footer */
#footer {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    padding: 0 200px;
    color: #404040;
    font: large;
}

#to-top {
    display: flex;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #404040;
    border-right: 2px solid #404040;
    transform: rotate(-135deg);
    cursor: pointer;
}

/* JS Animation */
